/* line 21, ../../app/styles/main.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 23, ../../app/styles/main.scss */
body {
  font: 16px/1.2 Ubuntu, Arial, sans-serif;
  font-weight: 300;
  background: #f5f5f5;
  padding: 6em 0 2em;
}

/* line 30, ../../app/styles/main.scss */
img {
  vertical-align: middle;
}

/* line 37, ../../app/styles/main.scss */
h1,
h2,
h3,
h4 {
  font-family: Lato, Arial, sans-serif;
  font-weight: 900;
}

/* line 42, ../../app/styles/main.scss */
strong {
  font-weight: 500;
}

/* line 47, ../../app/styles/main.scss */
nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* line 51, ../../app/styles/main.scss */
nav ul li {
  margin: 0;
  padding: 0;
}

/* line 58, ../../app/styles/main.scss */
::-moz-selection {
  background: #2caae1;
  color: #fff;
  text-shadow: none;
}

/* line 64, ../../app/styles/main.scss */
::selection {
  background: #2caae1;
  color: #fff;
  text-shadow: none;
}

/* line 70, ../../app/styles/main.scss */
.wrapper {
  width: 23.75em;
  position: relative;
  margin: 0 auto;
  -webkit-perspective: 500;
  -moz-perspective: 500;
  -ms-perspective: 500;
  -o-perspective: 500;
  perspective: 500;
}

/* line 77, ../../app/styles/main.scss */
.page-header {
  position: relative;
  z-index: 10;
  color: white;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: #dd4b39;
  /* Old browsers */
  background: -moz-linear-gradient(top, #dd4b39 0%, #ca3523 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dd4b39), color-stop(100%, #ca3523));
  background: -webkit-linear-gradient(top, #dd4b39 0%, #ca3523 100%);
  background: -o-linear-gradient(top, #dd4b39 0%, #ca3523 100%);
  background: -ms-linear-gradient(top, #dd4b39 0%, #ca3523 100%);
  background: linear-gradient(to bottom, #dd4b39 0%, #ca3523 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$from', endColorstr='$to',GradientType=0 );
  -webkit-box-shadow: 0 0.0625em 0.25em rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 0.0625em 0.25em rgba(0, 0, 0, 0.25);
  box-shadow: 0 0.0625em 0.25em rgba(0, 0, 0, 0.25);
  font-family: Lato, Arial, sans-serif;
  -webkit-perspective: 500;
  -moz-perspective: 500;
  -ms-perspective: 500;
  -o-perspective: 500;
  perspective: 500;
}
/* line 86, ../../app/styles/main.scss */
.page-header .avatar {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  height: 4em;
  border-right: rgba(250, 250, 250, 0.35);
}
/* line 91, ../../app/styles/main.scss */
.page-header .vcard {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  color: white;
  margin-left: 1em;
  text-decoration: none;
}
/* line 96, ../../app/styles/main.scss */
.page-header .vcard .name {
  display: block;
  line-height: 1.06;
  font-weight: 900;
  font-size: 2em;
}
/* line 102, ../../app/styles/main.scss */
.page-header .vcard .profession {
  font-weight: 300;
}

/* line 108, ../../app/styles/main.scss */
.sprite-bg {
  background-repeat: no-repeat;
  background-image: url(../images/sprites.svg);
  -webkit-background-size: 3.25rem, 6.25rem;
  -moz-background-size: 3.25rem, 6.25rem;
  -o-background-size: 3.25rem, 6.25rem;
  background-size: 3.25rem, 6.25rem;
}

/* line 114, ../../app/styles/main.scss */
.page-menu {
  position: relative;
  top: -2em;
  font-family: Lato, Arial, sans-serif;
  font-size: 1.25em;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/* line 120, ../../app/styles/main.scss */
.page-menu ul {
  margin: 0;
  padding: 0;
}
/* line 125, ../../app/styles/main.scss */
.page-menu a {
  color: white;
  display: block;
  height: 100%;
  text-decoration: none;
}
/* line 132, ../../app/styles/main.scss */
.page-menu.flatout {
  top: .25em;
}
/* line 135, ../../app/styles/main.scss */
.page-menu.flatout .social-fold {
  -webkit-transform: translateX(-1em);
  -moz-transform: translateX(-1em);
  -ms-transform: translateX(-1em);
  -o-transform: translateX(-1em);
  transform: translateX(-1em);
}
/* line 137, ../../app/styles/main.scss */
.page-menu.flatout .social-fold.twitter {
  -webkit-transform: translateX(1em);
  -moz-transform: translateX(1em);
  -ms-transform: translateX(1em);
  -o-transform: translateX(1em);
  transform: translateX(1em);
}
/* line 142, ../../app/styles/main.scss */
.page-menu.flatout .social-fold:hover, .page-menu.flatout .social-fold:focus {
  -webkit-transform: translateX(-1.5em);
  -moz-transform: translateX(-1.5em);
  -ms-transform: translateX(-1.5em);
  -o-transform: translateX(-1.5em);
  transform: translateX(-1.5em);
}
/* line 144, ../../app/styles/main.scss */
.page-menu.flatout .social-fold:hover.twitter, .page-menu.flatout .social-fold:focus.twitter {
  -webkit-transform: translateX(1.5em);
  -moz-transform: translateX(1.5em);
  -ms-transform: translateX(1.5em);
  -o-transform: translateX(1.5em);
  transform: translateX(1.5em);
}

/* line 151, ../../app/styles/main.scss */
.social-fold {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  position: relative;
  width: 50%;
  height: 2em;
  line-height: 2em;
  float: left;
  margin: 0;
  -webkit-box-shadow: 0, 0.0625em, 0px, rgba(250, 250, 250, 0.5);
  -moz-box-shadow: 0, 0.0625em, 0px, rgba(250, 250, 250, 0.5);
  box-shadow: 0, 0.0625em, 0px, rgba(250, 250, 250, 0.5);
  -webkit-transform-origin: 100% 50%;
  -moz-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  -o-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  background-color: #dd4b39;
  text-align: center;
  background-position: -0.1em 0.3em;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/* line 168, ../../app/styles/main.scss */
.social-fold.twitter {
  background-color: #2caae1;
  background-position: right -2.15em;
  -webkit-transform-origin: 0 50%;
  -moz-transform-origin: 0 50%;
  -ms-transform-origin: 0 50%;
  -o-transform-origin: 0 50%;
  transform-origin: 0 50%;
}
/* line 175, ../../app/styles/main.scss */
.social-fold:hover, .social-fold:focus {
  background-color: #333333;
}

/* line 184, ../../app/styles/main.scss */
.wrapper:hover .page-header .vcard,
.wrapper:focus .page-header .vcard,
.touch .wrapper .page-header .vcard {
  -webkit-transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  -ms-transform: rotateX(180deg);
  -o-transform: rotateX(180deg);
  transform: rotateX(180deg);
}
/* line 188, ../../app/styles/main.scss */
.wrapper:hover .page-menu:not(.flatout),
.wrapper:focus .page-menu:not(.flatout),
.touch .wrapper .page-menu:not(.flatout) {
  top: -1em;
}
/* line 190, ../../app/styles/main.scss */
.wrapper:hover .page-menu:not(.flatout) .social-fold,
.wrapper:focus .page-menu:not(.flatout) .social-fold,
.touch .wrapper .page-menu:not(.flatout) .social-fold {
  -webkit-transform: rotate(-6deg) translateX(0.2em);
  -moz-transform: rotate(-6deg) translateX(0.2em);
  -ms-transform: rotate(-6deg) translateX(0.2em);
  -o-transform: rotate(-6deg) translateX(0.2em);
  transform: rotate(-6deg) translateX(0.2em);
}
/* line 192, ../../app/styles/main.scss */
.wrapper:hover .page-menu:not(.flatout) .social-fold.twitter,
.wrapper:focus .page-menu:not(.flatout) .social-fold.twitter,
.touch .wrapper .page-menu:not(.flatout) .social-fold.twitter {
  -webkit-transform: rotate(6deg) translateX(-0.2em);
  -moz-transform: rotate(6deg) translateX(-0.2em);
  -ms-transform: rotate(6deg) translateX(-0.2em);
  -o-transform: rotate(6deg) translateX(-0.2em);
  transform: rotate(6deg) translateX(-0.2em);
}
/* line 198, ../../app/styles/main.scss */
.wrapper:hover .page-section:not(:target),
.wrapper:focus .page-section:not(:target),
.touch .wrapper .page-section:not(:target) {
  top: -3em;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/* line 204, ../../app/styles/main.scss */
.page-section {
  text-align: center;
  position: relative;
  top: -5em;
  background: #f5f5f5;
  width: 23.25em;
  margin-left: .25em;
  padding: .12em;
  z-index: 2;
  -webkit-transition: all 0.8s ease-in-out;
  -moz-transition: all 0.8s ease-in-out;
  -o-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
}
/* line 215, ../../app/styles/main.scss */
.page-section .text-wrapper {
  overflow: hidden;
  height: 0;
  background: #fefefe;
  padding: 0 1em;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
  -webkit-transition: all 0.75s ease-in-out;
  -moz-transition: all 0.75s ease-in-out;
  -o-transition: all 0.75s ease-in-out;
  transition: all 0.75s ease-in-out;
}
/* line 224, ../../app/styles/main.scss */
.page-section .pulldown-handle {
  position: absolute;
  color: white;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  width: 1.8em;
  height: 1.7em;
  font-size: 1.25em;
  line-height: 1.8;
  background: #666;
  bottom: -1.7em;
  left: 50%;
  margin-left: -0.9em;
  z-index: -1;
  text-decoration: none;
  -webkit-border-radius: 0 0 0.25em 0.25em;
  -moz-border-radius: 0 0 0.25em 0.25em;
  -ms-border-radius: 0 0 0.25em 0.25em;
  -o-border-radius: 0 0 0.25em 0.25em;
  border-radius: 0 0 0.25em 0.25em;
  -webkit-box-shadow: 0 -0.25em 0.75em rgba(0, 0, 0, 0.45) inset, 0 0.0625em 0.12em rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 -0.25em 0.75em rgba(0, 0, 0, 0.45) inset, 0 0.0625em 0.12em rgba(0, 0, 0, 0.15);
  box-shadow: 0 -0.25em 0.75em rgba(0, 0, 0, 0.45) inset, 0 0.0625em 0.12em rgba(0, 0, 0, 0.15);
}
/* line 240, ../../app/styles/main.scss */
.page-section .pulldown-handle:before {
  content: '?';
}
/* line 245, ../../app/styles/main.scss */
.page-section .pulldown-handle:hover, .page-section .pulldown-handle:focus {
  color: #dd4b39;
}
/* line 250, ../../app/styles/main.scss */
.page-section h1 {
  margin-top: 0;
}

/* line 255, ../../app/styles/main.scss */
.page-section:target {
  top: -3em;
  -webkit-box-shadow: 0 0.0625em 0.25em rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 0.0625em 0.25em rgba(0, 0, 0, 0.25);
  box-shadow: 0 0.0625em 0.25em rgba(0, 0, 0, 0.25);
}
/* line 258, ../../app/styles/main.scss */
.page-section:target .text-wrapper {
  padding: 1em;
}
/* line 262, ../../app/styles/main.scss */
.page-section:target#about .text-wrapper {
  height: 20em;
}
/* line 269, ../../app/styles/main.scss */
.page-section:target .pulldown-handle:before {
  content: '^';
}

/* line 276, ../../app/styles/main.scss */
.page-footer {
  font-size: .75em;
  color: #ababab;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: right;
  padding: .25em;
}

/* line 287, ../../app/styles/main.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* line 292, ../../app/styles/main.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* line 304, ../../app/styles/main.scss */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* line 313, ../../app/styles/main.scss */
.invisible {
  visibility: hidden;
}

/* line 318, ../../app/styles/main.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

/* line 323, ../../app/styles/main.scss */
.clearfix:after {
  clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
/* line 332, ../../app/styles/main.scss */
.clearfix {
  *zoom: 1;
}
